@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my ASP.Net Core Project for I3332 Course of the Academic year 2021-2022.</p>
    <img src="~/Images/aspnetcore-logo.png" width="60%" style="margin:3rem;" />
</div>
